//- link(rel='stylesheet' href='/css/bootstrap-admin.css')
//- link(rel="stylesheet" href="/js/lib/iconpicker/bootstrap-iconpicker.min.css")
md-dialog(flex)
    md-toolbar
        .md-toolbar-tools
            h2 Demand Editor  
            span(flex)
            md-button.md-icon-button(ng-click='closeDemandEdit()')
                md-icon close
    
    md-dialog-content
        .md-dialog-content(layout="row" layout-wrap)
            div.md-title {{product.ProductName}}
                md-virtual-repeat-container(id="vertical-container")
                    div(md-virtual-repeat="(key, value) in product.Demand" md-on-demand class="repeated-item" flex)
                        label {{key}}
                        input(ng-model="product.Demand[key]") uom here
            //- form(name="userForm")
            //-     md-input-container.md-block(flex-gt-sm="" ng-repeat="(key, value) in product.Demand")
            //-         label  {{key}}
            //-         input(ng-model="product.Demand[key]")
            //-     div(layout-gt-sm="row" layout-align="end center" flex="100")
            md-button.md-raised.md-primary(type='submit' ng-click="addWorkcenter()") Create
