md-dialog(flex)
    md-toolbar
        .md-toolbar-tools
            h2 Product Editor  
            span(flex)
            md-button.md-icon-button(ng-click='closeDemandEdit()')
                md-icon close
      md-dialog-content(flex layout='row')
        md-content(layout='row' flex='45')
          form(name='productEditForm')
            md-content.md-padding(layout='column')
              md-input-container.md-block(flex-gt-xs)
                label Product Name
                input(ng-model='product.ProductName' required="", name="productname")
                div(ng-messages="productEditForm.productname.$error")
                  div(ng-message="required") Product name is required.
              md-input-container
                label Product Description
                input(ng-model='product.ProductDescription' required="", name="description")
                div(ng-messages="productEditForm.description.$error")
                  div(ng-message="required") Description is required.
              md-input-container.md-block(flex-gt-xs)
                label Product Family
                input(ng-model='product.ProductFamily')
              md-input-container
                label Product ID
                input(ng-model='product.ProductInternalID')
              div(layout='row' flex='100')
                md-input-container.md-block(flex-gt-xs)
                  label Product Selling Price
                  input(ng-model='product.SellingPrice')
                md-input-container
                  label Selling Price Currency
                  input(ng-model='product.Currency')
              div(layout='row' layout-align="end center" flex="100")
                md-button.md-raised.md-primary(ng-click="createProduct()" type='submit' ng-disabled="productEditForm.$invalid" ng-if="mode=='create'") Create Product
                md-button.md-raised.md-primary(ng-click="editProduct()" type='submit' ng-disabled="productEditForm.$invalid" ng-if="mode!='create'") Update Product      
        span(flex='10')
        md-content(layout='column' flex='45' layout-padding)
          md-content(layout='row')
            div(layout="column")
              md-subheader Range Start
              md-datepicker(ng-model="startDate" md-mode='month' md-placeholder="Enter date" md-min-date='periodStart' md-max-date='periodEnd')
            div(layout="column")            
              md-subheader Range End
              md-datepicker(ng-model="endDate" md-mode='month' md-placeholder="Enter date" md-min-date='periodStart' md-max-date='periodEnd')
            md-input-container.no-margin
              md-subheader Amount
              input(ng-model='massChangeAmount')
            md-button.md-raised(ng-click='massDemandChange()') Change
          .virtualRepeatdemoScrollTo()
            div.wrapper
              md-input-container
                md-select(ng-model='selectedYear', aria-label='Select a Year')
                  md-option(ng-value='$index', ng-repeat='year in years') {{ year }}
              md-virtual-repeat-container#vertical-container(md-top-index='topIndex')
                .repeated-item(layout='row' md-virtual-repeat='item in items', ng-class='{header: item.header}', ng-click="testClick($event, item)")
                  p.no-margin(flex='40' style='vertical-align: middle') {{item.text}}
                  span(flex='20')
                  md-input-container.md-block(flex-gt-xs id='no-margin' ng-if='item.header != true' flex='40')
                    input(ng-model='product.Demand[item.date]')
      