md-content(flex="15")
    md-list(flex)
        md-list-item(href='/')
            md-icon
                i.material-icons inbox
            p Inbox
        md-list-item(href='/operations')
            md-icon
                i.material-icons explore
            p Contexts
        md-list-item(href='/products')
            md-icon
                i.material-icons location_on
            p Flagged
        md-list-item(href='/routes')
            md-icon
                i.material-icons device_hub
            p Projects
        md-list-item(href='/demand')
            md-icon
                i.material-icons explore
            p Analyze
        md-list-item(href='/status')
            md-icon
                i.material-icons chat
            p Home