md-card(ng-repeat="model in models track by $index")
    md-card-title
        md-card-header
            md-card-header-(layout="row" layout-align="start center")
                i(class="fa {{model.icon}} journeyBuilderGroupIcon")
                span.md-headline(ng-click="selectModel(model)") {{model.ModelName}}

    md-card-content
        div(layout="row" layout-align="start start" data-ng-model="operations" layout-wrap data-as-sortable="dragListeners")
            md-card(ng-repeat="operation in operations" data-as-sortable-item)
                md-card-title.journeyBuilderControlsContainer(layout="row")
                    md-card-header-text
                        span.md-title {{operation.Name}}
                    span(flex)
                    span.journeyBuilderControls
                        md-icon.journeyBuilderTreeActionIcon(data-as-sortable-item-handle ng-click="") open_with
                        md-icon.journeyBuilderTreeActionIcon(ng-click="editOperation($event,model, operation)") create
                        md-icon.md-icon-button.journeyBuilderTreeActionIcon(ng-click="deleteOperation($event, model, operation)") delete
                md-card-content
                    div()
                        ol()
                            li(ng-repeat="workcenter in operation.WorkCenters")
                                {{workcenter.Name}}
                    md-button.md-raised.md-primary(ng-click="addWorkCenter($event, model, operation)") Add Workcenter


            md-button.md-raised.md-primary(ng-click="addOperation(model)") Add Operation

    md-divider
    md-card-actions(layout="row" layout-align="start center")
        md-button.md-icon-button.md-primary(ng-click="editModel($event, model)")
            md-icon mode_edit
            md-tooltip(md-delay="500") Edit Collection
        md-button.md-icon-button.md-primary(ng-click="deleteModel($event, model)")
            md-icon delete
            md-tooltip(md-delay="500") Delete Collection

div(layout="row" layout-align="end center")
    md-button.md-primary.md-fab.md-fab-bottom-right.md-icon-button(ng-click="createModel()" id="createNew" )
        md-icon add
        md-tooltip(md-delay="500" md-direction="top") Add New Model
    md-button.md-primary.md-fab.md-fab-bottom-right.md-icon-button(ng-click="upload()" id="uploadAFile")
        md-icon add
        md-tooltip(md-delay="500" md-direction="top") Upload File