div(layout='column')
    //-    This is a layout test for free focus
    md-content.md-padding(flex-offset='15' flex="15" layout='column' layout-align='center' ng-repeat='action in actions')
        md-content(layout='row')
            md-input-container(flex='60')
                label Title
                input(placeholder ='{{action.title}}', ng-model='action.title')
            div(layout-align="end center")
                md-progress-circular(md-mode="determinate" value='100' class="md-accent md-hue-1")
        md-content.no-margin(layout='row')
            md-autocomplete.no-margin(md-floating-label="{{action.context && action.context || 'No Context'}}" md-selected-item='action.context', md-selected-item-change= 'selectedContextChange(context, action)', md-search-text='searchContextText', md-items='context in contextSearch(searchContextText)', md-item-text='context', md-min-length ="2")
                span(md-highlight-text='searchContextText') {{context}}
                md-not-found
                    a(ng-click='newContext(searchContextText, action)') Create new context!
            md-autocomplete.no-margin(md-floating-label="{{action.project && action.project || 'No Project'}}" md-selected-item='action.project', md-selected-item-change= 'selectedProjectChange(project, action)', md-search-text='searchProjectText', md-items='project in projectSearch(searchProjectText)', md-item-text='project', md-min-length ="2")
                span(md-highlight-text='searchProjectText') {{project}}
                md-not-found
                    a(ng-click='newProject(searchProjectText)') Create new project!
            md-input-container.no-margin
                label Defer
                md-datepicker(ng-model="defer" name="dateField" md-hide-icons="calendar")
            md-input-container.no-margin
                label Due
                md-datepicker(ng-model="due" name="dateField" md-hide-icons="calendar")
        md-divider
     md-card-content
        div(layout="column" layout-align="start start" data-ng-model="projects" layout-wrap)
            md-card(ng-repeat="project in projects" data-as-sortable-item)
                md-card-title(layout="row")
                    md-card-header-text
                        span.md-title {{project}}
                md-card-content
                    md-content.md-padding(layout='column' layout-align='center' ng-repeat='action in actions | filter: project: project')
                        md-content(layout='row')
                            md-input-container(flex='60')
                                label Title
                                input(placeholder ='{{action.title}}', ng-model='action.title')
                            div(layout-align="end center")
                                md-progress-circular(md-mode="determinate" value='100' class="md-accent md-hue-1")
                        md-content.no-margin(layout='row')
                            md-autocomplete.no-margin(md-floating-label="{{action.context && action.context || 'No Context'}}" md-selected-item='action.context', md-selected-item-change= 'selectedContextChange(context, action)', md-search-text='searchContextText', md-items='context in contextSearch(searchContextText)', md-item-text='context', md-min-length ="2")
                                span(md-highlight-text='searchContextText') {{context}}
                                md-not-found
                                    a(ng-click='newContext(searchContextText, action)') Create new context!
                            md-autocomplete.no-margin(md-floating-label="{{action.project && action.project || 'No Project'}}" md-selected-item='action.project', md-selected-item-change= 'selectedProjectChange(project, action)', md-search-text='searchProjectText', md-items='project in projectSearch(searchProjectText)', md-item-text='project', md-min-length ="2")
                                span(md-highlight-text='searchProjectText') {{project}}
                                md-not-found
                                    a(ng-click='newProject(searchProjectText)') Create new project!
                            md-input-container.no-margin
                                label Defer
                                md-datepicker(ng-model="defer" name="dateField" md-hide-icons="calendar")
                            md-input-container.no-margin
                                label Due
                                md-datepicker(ng-model="due" name="dateField" md-hide-icons="calendar")
        //- md-divider
        //-             div()
        //-                 ol()
        //-                     li(ng-repeat="action in actions | filter: project: project")
        //-                         {{action.title}}

