extends layout
block content
  include navigation
  div(ng-view style="height:100%")
  //- md-content.md-scroll-y(ng-controller="HeaderController" layout="column")
  //-   md-toolbar.md-toolbar-tools(layout="row")
  //-     h2 Getting Shit Done
  //-     md-button.mdi-icon-button(ng-click='newAction()') New Action
  //-       md-icon add_circle
  //-       md-tooltip(md-delay="500") Save Unit Data
  //-     span(flex="")
  //-     md-button.mdi-icon-button(ng-click='saveData()') Save units
  //-       md-icon save
  //-       md-tooltip(md-delay="500") Save Unit Data
  