md-dialog
    md-toolbar
        .md-toolbar-tools
            h2 Create or Edit A Component
            span(flex)
            md-button.md-icon-button(type='button' ng-click='close()')
                md-icon close   
    md-dialog-content
        md-content(layout='row' flex)
            form(name='componentEditForm')
                md-content.md-padding(layout='column')
                    md-input-container.md-block(flex-gt-xs)
                        label Name Component
                        input(ng-model='active.name' required="", name="Name")
                        div(ng-messages="componentEditForm.name.$error")
                            div(ng-messages="required") Name is required.
                    md-input-container.md-block(flex-gt-xs)
                        label Description
                        input(ng-model='active.description')
                    md-input-container.md-block(flex-gt-xs)
                        label Type
                        input(ng-model='active.type')
                    md-button.md-primary(type='submit' ng-click='save()') Submit
                    md-button(ng-click='close()' type='button' formnovalidate) Cancels