//- md-dialog(flex)
//-     md-toolbar(layout='row')
//-     .md-toolbar-tools
//-         h2(flex="25") Select Operation For Process Step
//-         h2(flex="25") You selected {{active.operation.SiteName}}
//-         md-input-container()
//-             label Enter step discription
//-             input(ng-model="active.stepName")
//-         md-button.md-icon-button(ng-click='save()')
//-             md-icon save
//-         md-button.md-icon-button(ng-click='closeEdit()')
//-             md-icon close
//-     md-dialog-content
//-     .md-dialog-content(layout="row")
//-         md-card(ng-repeat="operation in operations track by $index")
//-                 md-card-title
//-                     md-card-header-(layout="row" layout-align="start center")
//-                         span.md-headline(ng-click="selectOperation(operation)") {{operation.SiteName}}
//-                 md-card-content
md-dialog
    md-toolbar
        .md-toolbar-tools
            h2 Create or Edit Process Step Output
            span(flex)
            md-button.md-icon-button(type='button' ng-click='close()')
                md-icon close   
    md-dialog-content
        .md-dialog-content(layout='row')
            md-content(layout='row' flex)
                form(name='processSteopEditForm')
                    md-content.md-padding(layout='column')
                        .md-headline ModelID : {{processStep.ModelID}}
                        md-input-container.md-block(flex-gt-xs)
                            label Name Final Output
                            input(ng-model='active.Name' required="", name="Name")
                            div(ng-messages="processStepEditForm.Name.$error")
                                div(ng-messages="required") Name is required.
                        md-input-container.md-block(flex-gt-xs)
                            label Description
                            input(ng-model='active.Description')
                        md-input-container.md-block(flex-gt-xs)
                            label Internal Id
                            input(ng-model='active.InternalId')
                        
                        md-input-container.md-block(flex-gt-xs)
                            label Select Operation
                            md-select(ng-model ='active.Operation' required="", name='Operation')
                                md-option(ng-repeat='operation in operations' ng-value="operation")
                                    {{operation.Name}}
                            div(ng-messages="processStepEditForm.Operation.$error")
                                div(ng-message="required") Operation is required
                        md-input-container.md-block(flex-gt-xs ng-show='active.Operation')
                            label Select Primary Workcenter
                            md-select(ng-model ='active.primaryWorkCenter' required="", name="primaryWorkCenter")
                                md-option(ng-repeat='workcenter in active.Operation.WorkCenters' ng-value="workcenter")
                                    {{workcenter.Name}}
                            div(ng-messages="processStepEditForm.primaryWorkCenter.$error")
                                div(ng-message="required") Primary workcenter is required
                        md-button.md-primary(type='submit' ng-click='save()') Submit
                        md-button(ng-click='close()' type='button' formnovalidate) Cancel
                  
                    
                    