body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* font-size: 1.2rem; */
}


.tree-node {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(18, 18, 19);
    border-radius: 5px;
    background: rgb(201, 209, 236);
    color: rgb(19, 18, 17);
}

.pull-right {
    float: right!important;
    cursor: pointer;
}

.angular-ui-tree-handle {
    padding: 10px;
    min-height: 50px;
    line-height: 50px;
    font: 16px;
}

.angular-ui-tree-nodes {
    padding-left: 20px;
}

.tree-node-content {
    margin: 10px;
}


md-toast.md-success-toast-theme .md-toast-content {
    background-color: blue;
    width: 500px;
    text-align: center;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: maroon;
    width: 500px;
    text-align: center;
}

md-toast {
    left: calc(50vw - 250px);
}

.journeyBuilderAttribute {
    margin-right: 20px;
}

.journeyBuilderGroupIcon {
    margin-right: 5px;
}

.journeyBuilderTreeActionIcon {
    margin-right: 5px;
}

.journeyBuilderControls {
    visibility: hidden;
}

.journeyBuilderControlsContainer:hover .journeyBuilderControls {
    cursor: pointer;
    visibility: visible;
}

.facetList md-checkbox {
    margin-bottom: 0px;
}

.facetList .md-body-1 {
    line-height: normal;
}

.virtualRepeatdemoScrollTo .wrapper {
    width: 100%;
    max-width: 800px;
    min-width: 600px;
}

.virtualRepeatdemoScrollTo #vertical-container {
    height: 400px;
    width: 100%;
    max-width: 400px;
}

.virtualRepeatdemoScrollTo #vertical-container .repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px;
}

.virtualRepeatdemoScrollTo #vertical-container .repeated-item.header {
    background-color: #106CC8;
    color: white;
    text-align: center;
    font-weight: bold;
}

.virtualRepeatdemoScrollTo #vertical-container md-content {
    margin: 16px;
}

.virtualRepeatdemoScrollTo md-virtual-repeat-container {
    border: solid 1px grey;
}

.virtualRepeatdemoScrollTo .md-virtual-repeat-container .md-virtual-repeat-offsetter div:not(.header) {
    padding-left: 16px;
}

#no-margin {
    margin: 0px;
}

.no-margin{
    margin: 0px;
}

.md-datepicker-calendar-pane {
    z-index: 1200
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}